.Light {
	--background:				#dce0e8;
	--buttons-background:		#ccd0da;
	--buttons-background-hover:	#9ca0b0;
	--layout-background:		#acb0be;
	--pressed-background:		#d20f39;
	--text:						#4c4f69;
}

.Dark {
	--background:				#11111b;
	--buttons-background:		#313244;
	--buttons-background-hover:	#6c7086;
	--layout-background:		#585b70;
	--pressed-background:		#d20f39;
	--text:						#cdd6f4;
}

body {
	background: var(--background);
}

a {
	color:	var(--text);
}

.buttons {
	display:			flex;
	justify-content:	space-between;
}

.left, .right{
	width:				300px;
	display:			flex;
	justify-content:	space-between;
}

.left > a, .right > a {
	text-decoration:	none;
	background:			var(--buttons-background);
	border:				solid var(--buttons-background);
	border-radius:		15px;
	padding:			0 20px;
}

.left > a:hover, .right > a:hover {
	background:	var(--buttons-background-hover);
}

.layout {
	margin:		auto;
	padding:	20px 0;
}

.row {
	margin:		auto;
	display:	flex;
	justify-content: center;
}

.row > a, .pressed > a{
	padding:		20px;
	border:			solid var(--buttons-background);
	border-radius:	15px;
	margin:			2.5px;
}

.row > a {
	background:	var(--layout-background);
}

.pressed {
	width:		1300px;
	padding:	20px 0;
	margin:		auto;
	display:	flex;
	flex-wrap:	wrap;
}

.pressed > a {
	background:	var(--pressed-background);
}
